@font-face {
  font-family: 'FoundersGrotesk-Light';
  src: url('FoundersGrotesk-Light.eot'); /* IE9+ Compat Modes */
  src: url('FoundersGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FoundersGrotesk-Light.woff2') format('woff2'), /* Super modern browsers */
       url('FoundersGrotesk-Light.woff') format('woff'), /* Modern browsers */
       url('FoundersGrotesk-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FoundersGrotesk-Light.svg#FoundersGrotesk-Light') format('svg'); /* Legacy iOS */
       font-display: swap;
}

@font-face {
  font-family: 'FoundersGrotesk-Regular';
  src: url('FoundersGrotesk-Regular.eot'); /* IE9+ Compat Modes */
  src: url('FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FoundersGrotesk-Regular.woff2') format('woff2'), /* Super modern browsers */
       url('FoundersGrotesk-Regular.woff') format('woff'), /* Modern browsers */
       url('FoundersGrotesk-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular') format('svg'); /* Legacy iOS */
       font-display: swap;
}

@font-face {
  font-family: 'FoundersGroteskMonoRegular';
  src: url('FoundersGroteskMonoRegular.eot'); /* IE9+ Compat Modes */
  src: url('FoundersGroteskMonoRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FoundersGroteskMonoRegular.woff2') format('woff2'), /* Super modern browsers */
       url('FoundersGroteskMonoRegular.woff') format('woff'), /* Modern browsers */
       url('FoundersGroteskMonoRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FoundersGroteskMonoRegular.svg#FoundersGroteskMonoRegular') format('svg'); /* Legacy iOS */
       font-display: swap;
}