.error-page{
	h1{
		color: #0A2240;
	}	
	p{
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		margin-bottom: 40px;
		color: #000000;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		color: #000000;
	}

}
