
@media only screen and (max-width: 1199px) {
	
	
}
@media only screen and (max-width: 1170px) {
	
}
@media only screen and (max-width: 1032px) {
	
}
@media only screen and (max-width: 1046px) {

}
@media only screen and (max-width: 1030px) {
	
}

@media only screen and (max-width: 1024px) {
    
}


@media only screen and (max-width: 992px) {
	 
}
@media only screen and (max-width: 991px) {
	.toggle-menu{
        display: block;
    }
    .main-menu-wrapper{
    	display: none;
    }
    .site-header{
    	height: 55px;

    	.container{
    		height: 100%;

    		.row{
    			height: 100%;
    		}
    	}
    }
    .logo {
	    top: 16px;
	    transform: none;
	}

}
@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 938px) {
	
}
/* Small Devices, Tablets */
@media only screen and (max-width: 800px) {
	
}    

@media only screen and (max-width: 768px) {
		
}
@media only screen and (max-width: 767px) {
	
	
}
@media only screen and (max-width: 710px) {
	
}
@media only screen and (max-width: 600px) {
    
}
@media only screen and (max-width: 576px) {
   	
}
@media only screen and (max-width: 575px) {
	
}
@media only screen and (max-width: 525px) {
	
}
@media only screen and (max-width: 500px) {
    
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 430px) {
	
}
@media only screen and (max-width: 399px) {
	
}
@media only screen and (max-width: 360px) {
    
    
}
@media only screen and (max-width: 320px) {
        
}