$color-primary: #20232a;

// Variables
$v23_dark: #00140E !default;
$bright_green: #09F8BF !default;
$bright_green_hover: rgba(9,248,191,.5) !default;
$green: #09F8BF !default;
$cream: #EAE9E3 !default;

$base_font_color: #fff !default;

.orange{
	color: $orange;
}

